<%- include('include/header') %>

    <h1 id="desc">ET index page</h1>

    <table>
        <tr>
            <button id="index-Login">Log In</button>
            <button id="index-Register">Register</button>
        </tr>
    </table>
    
<%- include('include/footer')%>